.product-container {
    width: 300px;
    padding: 1rem;
    color: #172825;
    border-radius: 15px;
    background-color: white;
    box-shadow: .25rem .25rem .25rem #17282520;

}

.product-card-testing{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-name {
    margin-bottom: .35rem;
}

.brand-badge {
    background-color: black;
    color: white;
    font-size: .75rem;
    padding: .25rem .5rem;
    border-radius: 20px;
    font-weight: bold;

}

.spec-container {
    margin: 1rem 0;
}

.spec-container h3 {
    font-weight: 600;
    padding-bottom: .15rem;
    border-bottom: 2px solid #172825;
    
}


.cart-button {
    width: 100%;
    padding: .5rem;
    border-radius: 50px;
    font-weight: 500;
    font-size: 1rem;
    transition: all .2s ease-out;
    border: 2px solid #01c8a4;
    color: white;
    background-color: #01c8a4;

}

.cart-button:hover {
    border: 2px solid #01c8a4;
    color: #172825;
    background-color: white;
}
.name-price-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.price {
    font-weight: 400;
    color: #0d1312;
    font-size: 2.25rem;
}

.badge {
    font-size: 1rem;
    font-weight: 600;
    color: #0d1312;
    padding: .25rem .5rem;
    background-color: #01c8a4;
    border-radius: 50px;
}
.apple {
    background-color:#a8b2d1 ;
    color: black;
}

.samsung {
    background-color: #1428a0;
    color: white;
}

.xiaomi {
    background-color: #ff6700;
    color: white;
}